html {
  font-size: 18px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  background-image: url('../images/landscape-tree-nature-forest-path-branch-1417458-pxhere.jpg');
  background-repeat: no-repeat;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 100%;
  height: 3em;
  /* width: 2.5em; */
  outline: none;
  background: #7c7c7c2B;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search_bar {
  border: none;
  outline: none;
  padding: 0.45em;
  border-radius: 5px;
  background: #7c7c7c2b;
  color: white;
}

button:hover {
  background: #7c7c7c6b;
}

h1 {
  padding: 20px 0;
  color: #white;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
}

p, li {
  margin: 0 auto;
  font-size: 16px;
  line-height: 2;
}

.editor-note {
  margin: 0 auto;
  color: red;
  width: 500px;
  border: 1px solid black;
}

img {
  display: block;
  margin: 0 auto;
}
