html {
  font-size: 18px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

body {
  display: flex;
  justify-content: center;
}

.menu {
  padding-left: 2em;
  margin: 1em;
  background-color: #000000d0;
  color: white;
  border-radius: 30px;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

h1 {
  padding: 20px 0;
  color: #2C392F;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
}

.button {
  margin-bottom: 5em;
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.my_favorites {
  padding-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000d0;
  color: white;
  border-radius: 30px;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 12em;
}

.stone_paper_scissors {
  padding-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000d0;
  color: white;
  border-radius: 30px;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 12em;
}

p, li {
  margin: 0 auto;
  font-size: 16px;
  line-height: 2;
}

.link {
  text-align: center;
}

#prewritten_python-2 {
  text-align: center;
  color: white;
}

.python_stuff {
  width: 19em;
  padding-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000d0;
  border-radius: 30px;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
